/logs
/moddata
/saves
/stackdeobf_mappings
/.cache
/.fabric
/.mixin.out
/cache
/crash-reports
/debug
/downloads
/journeymap/data
/journeymap/icon

config/packetfixer.properties
journeymap/journeymap.log
command_history.txt
usercache.json
