*.log

/logs
/moddata
/saves
/stackdeobf_mappings
/.cache
/.fabric
/.mixin.out
/cache
/crash-reports
/debug
/downloads

/journeymap/data
/journeymap/icon

/command_history.txt
/realms_persistence.json
/servers.dat
/servers.dat_old
/usercache.json

!journeymap/config/
!journeymap/server/

!config/bettercombat/
!config/inventoryprofilesnext/
!config/paxi/
!config/plasmovoice/
!config/soundboard/
!config/amendments-common.json