/.cache/
/.fabric/
/.mixin.out/
/cache/
/config/packetfixer.properties
/crash-reports/
/debug/
/downloads/
/journeymap/data/
/journeymap/icon/
/journeymap/journeymap.log
/logs/
/moddata/
/saves/
/stackdeobf_mappings/
/command_history.txt
/usercache.json